ENV=local

# Server
SERVER_PORT=50052
SERVER_TIMEOUT=10

# TLS
TLS_CA=./security/ca.crt
TLS_SERVER=./security/billing.key
TLS_CERT=./security/billing.crt

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=billing_db
SSL_MODE=verify-ca
DB_ROOT_CERT=/etc/ssl/postgres/ca.crt
DB_CERT=/etc/ssl/postgres/client.crt
DB_KEY=/etc/ssl/postgres/client.key

# Redis
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0

# Kafka
KAFKA_BROKERS=kafka:9092
KAFKA_CONSUMER_TOPICS=account-commands,transaction-commands
KAFKA_CONSUMER_GROUP_ID=transaction-service
KAFKA_CONSUMER_MIN_BYTES=1
KAFKA_CONSUMER_MAX_BYTES=10000000
KAFKA_CONSUMER_MAX_WAIT=500
KAFKA_CONSUMER_COMMIT_INTERVAL=1000
KAFKA_CONSUMER_SESSION_TIMEOUT=10000
KAFKA_CONSUMER_REBALANCE_TIMEOUT=60000
KAFKA_CONSUMER_START_OFFSET=-1
KAFKA_CONSUMER_CONCURRENCY=1
KAFKA_PRODUCER_TOPIC=transaction-commands
KAFKA_PRODUCER_BATCH_SIZE=100
KAFKA_PRODUCER_BATCH_TIMEOUT=100
KAFKA_PRODUCER_REQUIRED_ACKS=-1
KAFKA_PRODUCER_MAX_ATTEMPTS=3
KAFKA_PRODUCER_WRITE_TIMEOUT=5000
KAFKA_DLQ_TOPIC=dlq
KAFKA_DLQ_BATCH_SIZE=10
KAFKA_DLQ_BATCH_TIMEOUT=100
KAFKA_DLQ_MAX_ATTEMPTS=1
KAFKA_RETRY_MAX_ATTEMPTS=3
KAFKA_RETRY_INITIAL_WAIT=100
KAFKA_RETRY_MAX_WAIT=5000
KAFKA_RETRY_MULTIPLIER=2.0

# JWT
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=168h
JWT_ISSUER=finance-system

# JWTKeys
JWT_KEY_PUBLIC=./security/public.pem

# SSOClient
CLIENT_SSO_ADRESS=sso-service:50051
CLIENT_SSO_TIMEOUT=10s
CLIENT_SSO_RETRIES=5

# TransactionClient
CLIENT_TRANSACTION_ADRESS=transaction-service:50058
CLIENT_TRANSACTION_TIMEOUT=10s
CLIENT_TRANSACTION_RETRIES=5

# System Users
SYSTEM_USERS_0_ROLE=admin
SYSTEM_USERS_0_FULL_NAME=admin
SYSTEM_USERS_0_EMAIL=admin@ps.ru
SYSTEM_USERS_0_PASSWORD=admin@123Ad

SYSTEM_USERS_1_ROLE=support
SYSTEM_USERS_1_FULL_NAME=support
SYSTEM_USERS_1_EMAIL=support@ps.ru
SYSTEM_USERS_1_PASSWORD=support@123Sp