[submodule "payment"]
	path = services/payment
	url = https://github.com/DarthanHawke/payment-service.git
[submodule "notification"]
	path = services/notification
	url = https://github.com/DarthanHawke/notification-service.git
[submodule "sso"]
	path = services/sso
	url = https://github.com/DarthanHawke/sso-service.git