[submodule "auth"]
	path = services/auth
	url = https://github.com/DarthanHawke/sso-service.git
[submodule "protos"]
	path = protos
	url = https://github.com/DarthanHawke/protos-payment-system.git	
[submodule "rebac"]
	path = services/rebac
	url = https://github.com/DarthanHawke/rebac-authentication-service.git	
