[submodule "payment-service"]
	path = payment-service
	url = https://github.com/DarthanHawke/payment-service.git
[submodule "notification-service"]
	path = notification-service
	url = https://github.com/DarthanHawke/notification-service
