# Binaries for programs and plugins
*/*.exe
*/*.exe~
*/*.dll
*/*.so
*/*.dylib

# env file
*/.env
*/.env.development
*/.env.production

# pem
*/*.pem

# logs
*/*.log
*/*logs
**/*.log
**/*.log.*

# TLS
*/*.key
*/*.crt
*/*.csr
*/*.srl
*/*.pfx

# all
*/*.txt

services/kafka/kafka/