ENV=local

# Server
SERVER_PORT=8080

# TLS
TLS_CA=./security/ca.crt
TLS_SERVER=./security/client.key
TLS_CERT=./security/client.crt

# BilligClient
CLIENT_BILLING_ADRESS=billing-service:50052
CLIENT_BILLING_TIMEOUT=10s
CLIENT_BILLING_RETRIES=5