ENV=local

# Server
SERVER_PORT=8080

# AccountClient
CLIENT_ACCOUNT_ADRESS=account-service:50052
CLIENT_ACCOUNT_TIMEOUT=10s
CLIENT_ACCOUNT_RETRIES=5

# TransactionClient
CLIENT_TRANSACTION_ADRESS=transaction-service:50058
CLIENT_TRANSACTION_TIMEOUT=10s
CLIENT_TRANSACTION_RETRIES=5

# Kafka
KAFKA_BROKERS=kafka:9092
KAFKA_CONSUMER_TOPICS=
KAFKA_CONSUMER_GROUP_ID=api-gateway-service
KAFKA_CONSUMER_MIN_BYTES=1
KAFKA_CONSUMER_MAX_BYTES=10000000
KAFKA_CONSUMER_MAX_WAIT=500
KAFKA_CONSUMER_COMMIT_INTERVAL=1000
KAFKA_CONSUMER_SESSION_TIMEOUT=10000
KAFKA_CONSUMER_REBALANCE_TIMEOUT=60000
KAFKA_CONSUMER_START_OFFSET=-1
KAFKA_CONSUMER_CONCURRENCY=1
KAFKA_PRODUCER_TOPIC=transaction-commands
KAFKA_PRODUCER_BATCH_SIZE=100
KAFKA_PRODUCER_BATCH_TIMEOUT=100
KAFKA_PRODUCER_REQUIRED_ACKS=-1
KAFKA_PRODUCER_MAX_ATTEMPTS=3
KAFKA_PRODUCER_WRITE_TIMEOUT=5000
KAFKA_DLQ_TOPIC=dlq
KAFKA_DLQ_BATCH_SIZE=10
KAFKA_DLQ_BATCH_TIMEOUT=100
KAFKA_DLQ_MAX_ATTEMPTS=1
KAFKA_RETRY_MAX_ATTEMPTS=3
KAFKA_RETRY_INITIAL_WAIT=100
KAFKA_RETRY_MAX_WAIT=5000
KAFKA_RETRY_MULTIPLIER=2.0

# Redis
REDIS_ADDR=redis-api-gateway:6379
REDIS_PASSWORD=
REDIS_DB=0
