ENV=local

# Server
SERVER_PORT=50052
SERVER_TIMEOUT=10

# TLS
TLS_CA=./security/ca.crt
TLS_SERVER=./security/billing.key
TLS_CERT=./security/billing.crt

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=billing_db
SSL_MODE=verify-ca
DB_ROOT_CERT=/etc/ssl/postgres/ca.crt
DB_CERT=/etc/ssl/postgres/client.crt
DB_KEY=/etc/ssl/postgres/client.key

# Redis
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0

# JWT
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=168h
JWT_ISSUER=finance-system

# JWTKeys
JWT_KEY_PUBLIC=./security/public.pem

# SSOClient
CLIENT_SSO_ADRESS=sso-service:50051
CLIENT_SSO_TIMEOUT=10s
CLIENT_SSO_RETRIES=5

# TransactionClient
CLIENT_TRANSACTION_ADRESS=transaction-service:50058
CLIENT_TRANSACTION_TIMEOUT=10s
CLIENT_TRANSACTION_RETRIES=5

# System Users
SYSTEM_USERS_0_ROLE=admin
SYSTEM_USERS_0_FULL_NAME=admin
SYSTEM_USERS_0_EMAIL=admin@ps.ru
SYSTEM_USERS_0_PASSWORD=admin@123Ad

SYSTEM_USERS_1_ROLE=support
SYSTEM_USERS_1_FULL_NAME=support
SYSTEM_USERS_1_EMAIL=support@ps.ru
SYSTEM_USERS_1_PASSWORD=support@123Sp