ENV=local

# Server
SERVER_PORT=50058
SERVER_TIMEOUT=10

# TLS
TLS_CA=./security/ca.crt
TLS_SERVER=./security/transaction.key
TLS_CERT=./security/transaction.crt

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=transaction_db
SSL_MODE=verify-ca
DB_ROOT_CERT=/etc/ssl/postgres/ca.crt
DB_CERT=/etc/ssl/postgres/client.crt
DB_KEY=/etc/ssl/postgres/client.key

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_QUEUE=transactions

# Redis
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0